<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
      <client>
        <endpoint address="http://localhost:8083/Demo/CustomRulebaseService"
            binding="wsHttpContextBinding"
            contract="CustomWorkflowLibrary.IWorkflow1"
            name="WSHttpContextBinding_IWorkflow1">
        </endpoint>
      </client>
    </system.serviceModel>
</configuration>